.content-input {
  position: relative;
  margin-top: 25px;
  padding: 5px 0 5px 60px;
  display: block;
}

.content-input input + i {
  background: #f0f0f0;
  border: 2px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 0;
}

.content-input input[type="checkbox"] + i {
  width: 52px;
  height: 30px;
  border-radius: 15px;
}

.content-input input[type="checkbox"] + i:before {
  content: "";
  width: 26px;
  height: 26px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  -webkit-box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.2);
}

.content-input input[type="checkbox"]:checked + i:before {
  left: 22px;
  -webkit-box-shadow: -3px 0 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 3px 0 -3px 0 rgba(0, 0, 0, 0.2);
}

.content-input input[type="checkbox"]:checked + i {
  background: rgb(37, 37, 37);
}

.content-input input[type="checkbox"] + i:after {
  position: absolute;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6);
  top: 8px;
  left: 4px;
  opacity: 0;
  transition: all 0.5s ease 0.5s;
}

.content-input input[type="checkbox"]:checked + i:after {
  opacity: 1;
}

.content-input input,
.content-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.content-input input {
  visibility: hidden;
  position: absolute;
  right: 0;
}
